RewriteEngine on
# check that the request url is neither a file nor a directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^t/([0-9-]+)/([a-z0-9-']+)/?$ /index.php?shi=$1&$shi_name=$2 [NC,L]
RewriteRule ^s/([a-z0-9-']+)/?$ /index.php?strain=$1 [NC,L]
RewriteRule ^([0-9]+)/([a-z0-9-']+)/?$ /index.php?farm=$1 [NC,L]
RewriteRule ^l/([a-z0-9-']+)/([0-9]+)/?$ /index.php?strain=$1&lot=$2 [NC,L]
RewriteRule ^o/([a-z0-9-']+)/?$ /index.php?custom_q=$1 [NC,L]